:root {
    --darkblue: #3F72AF;
    --lightblue: #39AFEA;
    --white: #F4FAFB;
    --green: #72B03F;
}
/*font-family: 'Bree Serif', serif;
font-family: 'Cinzel', serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--darkblue);
    width: 100%;
    
}

header {
    position: relative;
    height: 60px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 70%;
    max-width: 800px;
    margin: auto;    
}

nav {
    display: flex;
    gap: 20px;
}


#header-button {
    display: flex;
    height: 30px;
    margin-right: auto;
   
    max-width: 170px;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 15px;
    gap: 5px;
}

.icons {
    display: flex;
    ;
}

.introduction {
    margin-top: 10vh;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

p, div, button {
    font-family: 'Bree Serif', serif;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

#logo {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}

p {
    
    font-size: 16px;
    font-weight: 400;
}

section {
    width: 70%;
    max-width: 800px;
    margin: auto;
}

.collapsible_box {
    background-color: var(--darkblue);
    color: white;
    
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
    margin: 5px 0;
    border-radius: 5px 50px 50px 5px;
    transition: 1s;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    background: transparent;
    border:none;
    color: white;
  }

  .collapsible.toggle {
    background-color: #ffffff;
    text-align: left;
    color: var(--darkblue);
    width: 100%;    
    border-bottom: 1px solid black;
}

.collapsible.toggle:last-of-type {
    border-bottom: none;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    text-align: left;
    color: black;
  }

.content > p {
    font-size: 0.8rem;
}